.App {
  text-align: center;
}

h2 {
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: blueviolet;   
}

button {
  height: 80px;
  width: 120px;
  margin-right: 20px;
  font-size: 30px;
  color: rgb(215, 233, 236);
  background-color:rgb(128, 30, 219);
  border-radius: 10px;
  border: 2px solid grey;
}


